@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "./modules/allModules.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;

}

header {
  height: 80vh;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/banner.jpg);

  color: white;

  nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    ul {
      width: 20vw;
      display: flex;
      justify-content: space-evenly;
    }
  }

  div {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .get {
      background-color: red;
      padding: 10px;
    }

  }

}

.sec-1 {
  display: flex;
  justify-content: center;

  margin: 50px 0;

  div {
    width: 30%;
  }

  .div1 {
    p {
      font-size: 1.5em;
    }
  }
}

.sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .conf {
    display: flex;
    justify-content: center;
    gap: 20px;

    .card {

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 20px;
      }

      img {
        width: 40vw;
      }
    }


  }

  .cont2 {
   margin-top: 50px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap:10px;

    .reda {
      padding: 7px;
      background-color: red;
      color: white;
      height: 30%;
      
    }
    .greya{
      padding: 7px;
      background-color: black;
      color: white;
      height: 30%;
    }
  }
}